extends homeLayout.pug

block content
  h1.home__h1 『박태민뎐』 2023
  div.links-div
    a(href="/tutorial").link-button Tutorial
    a(href="/game").link-button Game Start
  img(src="img/home-bg.png").home-bg