extends homeLayout.pug

block content
  h1 튜토리얼

  span 화면 위쪽에 현대에 쓰이는 단어가 제시어로 나온다
  br
  span 그리고 화면 양옆에서 총 5개의 비눗방울이 날아온다
  br
  span 비눗방울에는 각각 단어가 적혀있으면 그중 하나는 제시어의 옛말이다
  br
  span 제시어의 옛말이 적인 비눗방울을 클릭하면 200점을 획득하며
  br
  span 틀린 비눗방울을 클릭하면 50점을 잃는다
  br
  span 총 제한시간 1분동안 높은 점수를 획득하면 된다
  br

  a(href="/") Home
  br
  a(href="/game") Game Start