header
  nav
    ul
      li
        a(href="/")
          span 홈
      li
        a(href="/tutorial")
          span 튜토리얼
      li
        a(href="/game")
          span 게임
      li
        a(href="/game/over")
          span 게임