@keyframes move-left {
  from {}

  to {
    transform: translateX(-110vw);
  }
}

@keyframes move-right {
  from {}

  to {
    transform: translateX(110vw);
  }
}

.bubble {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble img {
  width: 100%;
  height: 100%;
}

.bubble span {
  position: absolute;
  font-size: 36px;
}

.hide {
  opacity: 0;
}